@model List<ToDo_List.DataAccess.Entities.Subtask>
<div id="subtaskss">
    <h1>List of Subtask</h1>
    @using (Html.BeginForm("ChangeStateOfSubtask", "Subtasks", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table class="table">
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    @Html.HiddenFor(model => Model[i].Id)
                    <td>
                        @Html.EditorFor(modelItem => Model[i].Complete, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Text)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Subtasks", new { id = Model[i].Id }, new { }) |
                        @Html.ActionLink("Delete", "Delete", "Subtasks", new { id = Model[i].Id }, new { })
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4">
                    @if (Model.Count != 0)
                    {
                        <input type="submit" value="Save" class="btn btn-default" />
                    }
                </td>
            </tr>
        </table>
    }
    <div>
        @using (Ajax.BeginForm("_AddSubtask", "Subtasks", new AjaxOptions { UpdateTargetId = "subtaskss" }))
        {
            @Html.AntiForgeryToken()
            @Html.Action("_SubtasksForm", "Subtasks", new { id = ViewBag.TaskId })
        }
    </div>
</div>
